@value colors: "../../css/colors.module.css";
@value primary, dark, light, accent from colors;


.container {
   position: relative;
   left: 50vw;
   transform: translateX(-50%);
   max-width: 1400px;
   composes: bodyContainer from '../admin_dashboard.module.css';
   background: primary;
}