@value colors: "../../css/colors.module.css";
@value primary, dark, light, accent from colors;


.container {
   composes: bodyContainer from '../admin_dashboard.module.css';
   background: primary;
}

.tableContainer {
   overflow-x: scroll;
   height: 90%;
}

.table {
   width: 100%;
   padding: 2rem;
}

.tableInput {
   width: 4rem;
   text-align: center;
}

.errorTableInput {
   composes: tableInput;
   background-color: rgba(255, 0, 0, 0.6);
}

.row{
   text-align: center;
}


.hourRow {
   composes: row;
   border: 5px solid black;
}

.errorText {
   color: red;
   font-weight: bold;
   margin: 0.5rem;
}

.editButton {
   padding: 0;
   text-align: center;
}
