@value colors: "../../css/colors.module.css";
@value primary, dark, light, accent from colors;

.container {
    position: absolute;
    overflow: visible;
}

.toolTip {
    position: relative;
    background: dark;
    color: light;
    top: 0;
    transform: translateY(-100%);
    font-weight: bold;
    border: 1px solid black;
    padding: 0.5rem;
    z-index: 20;

}