@value colors: "../../../css/colors.module.css";
@value primary, dark, light, accent from colors;

.loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 92vh;
    width: 100vw;
    background-color: rgba(40, 40, 40, 0.5);
}

.tableContainer {
    width: 100%;
}

.table {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-40%);
    overflow: auto;
}

.cell {
    background: light;
    text-align: center;
    padding: 0 0.5rem;
    min-height: 1rem;
    width:35%;
    box-sizing: border-box;
}

.editButton {
    composes: button from '../../../css/project_globals.module.css';
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.2rem;
    opacity: 1;
    margin:0;
    background-color: light;
    position: relative;
    height: 2rem;
}

.buttonContainer {
    opacity: 0;
    position: relative;
    top: 0;
}

.displayButtonContainer {
    opacity: 1;
}

.row:hover .buttonContainer {
    opacity: 1;
    transition: 0.5s;
}

.droppable {
    height: 2rem;
    width: 100%;
    border: 1px dotted black;
    border-radius: 5px;
}

.hiddenLabelText {
    display: none;
}

.input {
    width: 8rem;
    margin: 0.5rem;
}

.displayError {
    composes: input;
}

.displayError:invalid {
    border: 2px solid red;
}