@value colors: "../../../css/colors.module.css";
@value primary, dark, light, accent from colors;

.container {
    composes: column from '../calendar.module.css';
    background-color: light;
    border: 3px solid dark;
    margin: -50px;
}

.activeContainer {
    composes: container;
}

.button {
    height: 100%;
    width: 100%;
    background-color: unset;
    border: 0;
    cursor: pointer;
    color: dark;
}

.activeContainer:hover {
    background-color: primary;
}

.activeContainer:active {
    background-color: dark;
    color: light;

}

.button:active {
    color: light;
}