@value colors: "../../../../../css/colors.module.css";
@value primary, dark, light, accent from colors;

.tableInput {
   width: 4rem;
   text-align: center;
}

.errorTableInput {
   composes: tableInput;
   background-color: rgba(255, 0, 0, 0.6);
}

.errorText {
   color: red;
   font-weight: bold;
   margin: 0.5rem;
}

.labelText {
  width: 50%;
}

.input {
  composes: text from '../../../../../css/project_globals.module.css';
  color: dark;
  width: 85%;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid dark;
  text-align: center;
}

.input:focus {
  border-bottom: 4px solid dark;
}

.inputGroup {
  width: 100%;
}

.displayError {
  composes: input;
}

.displayError:invalid {
  box-shadow: 0px 0px;
  border-bottom: 2px solid red;
}

.displayError:invalid:focus {
  border-bottom: 4px solid red;
}

.errorText {
  margin: 0.5rem;
  color: red;
}

.container {
   width: 5rem;
}

.hiddenLabelText {
  display: none;
}

.suggestionContainer {
    list-style: none;
    background-color: white;
    color: black;
    z-index: 99;
    border: 2px solid black;
    position: absolute;
}

.suggestion:hover{
  background-color: grey;
}
