.overlay {
    composes: transparentBackground from '../css/project_globals.module.css';
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.exitContainer{
    width: 80%;
    position: fixed;
    top: 3%;
    left: 10%;
    text-align: right;
}

.title {
    composes: title from '../css/project_globals.module.css';
}

.text {
    composes: text from '../css/project_globals.module.css';
}

.exitText {
    composes: text;
    font-size: 2rem;
    cursor: pointer;
}
