.overlay {
    composes: transparentBackground from '../css/project_globals.module.css';
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.container {
    composes: centerVertically from '../css/helpers.module.css';
    color: white;
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
}

.exitContainer{
    width: 80%;
    position: fixed;
    top: 3%;
    left: 10%;
    text-align: right;
}

.exitText {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
