@value colors: "../../css/colors.module.css";
@value primary, dark, light, accent from colors;

.container {
  position: absolute;
  height: 3vh;
  width: 100vw;
  background-color: dark;
  display: inline-block;
  border-bottom: 5px solid accent;
  z-index: 5;
}

.secondary {
  composes: container;
  top: 3.5vh;
}
