.container {
    display: inline-block;    
    position: absolute;
}

.title {
    text-align: center;
}

.droppableBox {
    min-height: 4rem;
    width: 20rem;
    border: 2px dashed black;
    margin: auto;
}

.buttonContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 1rem; 
}

.itemContainer {
    composes: itemContainer from '../tables.module.css';
}
.itemBackground {
    composes: itemBackground from '../tables.module.css';
}
.item {
    composes: item from '../tables.module.css';
}