.container {
  text-align: center;
}

.inputGroup {
  width: 100%;
  display: block;
}

.hiddenLabelText {
  display: none;
}

.labelText {
  composes: text from '../../css/project_globals.module.css';
  width: 70%;
}

.labelText::after {
  content: ": ";
}

.input {
  composes: text from '../../css/project_globals.module.css';
  width: 85%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-bottom: 2px solid white;
  margin-top: 1rem;
}

.input:focus {
  border-bottom: 4px solid white;
}

.displayError {
  composes: input;
}

.displayError:invalid {
  box-shadow: 0px 0px;
  border-bottom: 2px solid red;
}

.displayError:invalid:focus {
  border-bottom: 4px solid red;
}

.errorText {
  margin: 0.5rem;
  color: red;
}

.button {
  composes: button from '../../css/project_globals.module.css';
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px grey;
  moz-box-shadow: 2px 2px grey;
}

.suggestionContainer {
    list-style: none;
    background-color: white;
    color: black;
    z-index: 99;
    border: 2px solid black;
    position: absolute;
}

.suggestion:hover{
  background-color: grey;
}

@media screen and (max-width: 550px) {
  .labelText {
    margin: 0.5rem;
  }
}
