.inputGroup {
    width: 100%;
    display: inline-block;
    margin: 0.5rem;
}

.labelText {
    composes: text from '../../css/project_globals.module.css';
    float: left;
}

.input {
    float:right;
    width: 70%;
}

.errorText {
  color: red;
}

@media screen and (max-width: 550px) {
    .labelText {
        margin: 0.5rem;
    }
    .input {
        width: 100%;
    }
}
