.background {
  composes: transparentBackground from '../css/project_globals.module.css';
  width: 100vw;
  height: 100vh;
}

.container {
  composes: centerVertically from '../css/helpers.module.css';
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  align-content: center;
  box-sizing: border-box;
  /* box-shadow: 4px 4px rgba(255, 255, 255, 0.3); */
}
