.container {
  composes: childContainer from '../overlay_window.module.css';
    width: 80vw;
    max-width: 1000px;
}

.title {
    composes: title from '../reservation/reservation.module.css';
}

.switchText{
    composes: text from '../../css/project_globals.module.css';
}

.switch {
    cursor: pointer;
    font-weight: 600;
}

.submit {
    display: block;
    margin: 1rem auto;
}
