@value colors: "../../../../css/colors.module.css";
@value primary, dark, light, accent from colors;

.container {
    text-align: center;
    width: 80%;
    min-width: 28rem;
    margin: 2rem auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    background-color: dark;
    color: light;
    border: black 2px solid;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 3px 3px #666;
}

.exitButton {
    float:right;
    background: transparent;
    border: none;
    color: light;
    font-size: 2rem;
    cursor: pointer;
}

#interval {
    width: 100%;
}


.intervalContainer {
    width: 20%;
    display: inline-block;
}

.intervalText {
    display: inline;
    margin: 0.4rem;
}

.suggestionContainer {
    list-style: none;
    background-color: white;
    color: black;
    z-index: 99;
    border: 2px solid black;
    position: absolute;
    right: 0;
}


.newRow {
    margin: auto;
}

.button {
    composes: button from '../../../../css/project_globals.module.css';
    margin: 0.2rem;
}

.table {
    margin: 2rem auto;
}