/* Must use !important to ensure that the FullCalendar css is overridden */

:global td.fc-day-past {
    background-color: transparent !important;
    color: rgba(150,150,150,0.5);
    cursor: default;
}

:global td.fc-day-today {
    background-color: rgba(255,255,255,0.5) !important;
    color: black !important;
}

:global td.fc-day-disabled {
    background-color: transparent !important;
    cursor: default;
}

.container {
    composes: centerVertically from '../../css/helpers.module.css';
    color: white;
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
}
