@value colors: "../../../css/colors.module.css";
@value primary, dark, light, accent from colors;


.tableContainer {
   overflow-x: scroll;
   height: 90%;
   width: 100%;
}

.table {
   width: 100%;
   padding: 2rem;
}

.hourRow {
   composes: row from '../daily.module.css';
}

.button {
   composes: button from '../../../css/project_globals.module.css';
   color: black;
   font-weight: bold;
   border: 2px solid dark;
}

.button:hover {
   color: light;
   background-color: dark;
}