@value colors: "../../../css/colors.module.css";
@value primary, dark, light, accent from colors;


.tableContainer {
   overflow-x: scroll;
   height: 90%;
   width: 100%;
}

.table {
   width: 100%;
   padding: 2rem;
}

.hourRow {
   position: relative;
}

.hourRow::after {
   content: '';
   width: 95vw;
   background-color: dark;
   display: block;
   height: 3rem;
   position: absolute;
   top: 0.7rem;
   left: -1vw;
   z-index: 1;
   border-radius: 5px;

}

.hourText {
   position: relative;
   z-index: 3;
   color: light;
}

.button {
   composes: button from '../../../css/project_globals.module.css';
   color: black;
   font-weight: bold;
   border: 2px solid dark;
}

.button:hover {
   color: light;
   background-color: dark;
}