@value colors: "../../../css/colors.module.css";
@value primary, dark, light, accent from colors;

.container {
    width: 100vw;
    height: 10vh;
    background-color: primary;
}

.monthText {
    font-size: 1.5rem;
    composes: text from '../../../css/project_globals.module.css';
    color: dark;
    float: left;
    margin: 2rem 2rem;
}

.monthText::after {
    content: '➤';
    position: relative;
    left: 5px;
    bottom: 1px;
      display: inline-block;
    transform: rotate(90deg);
}

.buttonContainer {
    float: right;
    margin: 1.5rem 2rem;
}

.button {
    composes: text from '../../../css/project_globals.module.css';
    padding: 0 0.5rem;
    background-color: transparent;
    font-weight: 900;
    font-size: 1.5rem;
    color: dark;
    border: 0;
    margin: 0.5rem;
    cursor: pointer;
}

.prevButton {
    composes: button;
    transform: rotate(180deg);
    margin-bottom: 1rem;
    padding-bottom: 0.1rem;
}

.button:hover {
        color: light;
}

.datePickerToggle{
    transform: rotate(-90deg);
    background: transparent;
    border: none;
    color: dark;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    .monthText {
        float: center;
        margin: 0;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }

    .buttonContainer {
        float: none;
        margin: 0;
        padding: 0.5rem;
        text-align: center;
        width: 100%;
    }
}