@value colors: "../../../../css/colors.module.css";
@value primary, dark, light, accent from colors;


.button {
    composes: button from '../edit_window/edit_window.module.css';
}

.text {
    margin: 2rem;
    composes: text from '../../../../css/project_globals.module.css';
    color: dark;
    font-weight: bold;
}